body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}
#cvForm {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}
h1, h2 {
    margin-bottom: 20px;
    color: #333;
}
label {
    display: block;
    margin: 10px 0 5px;
}
input, textarea, button {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d0b5d3;
    border-radius: 4px;
    font-size: 14px;
}
button {
    background-color:#b1b9db;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #b1b9db;
}
.experience-section {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}